/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/03/2016, 22:26:53
    Author     : belchiorpalma
*/
/******* Pallete ********
"#5576a0","#95d9f0","#f17979","#f0831d","#ffdf87","#bababa","#dedede","#d3d3d3", "#bababa","#f0831d","#f8ac59","#d3d3d3", "#bababa","#f0831d","#f8ac59","#d3d3d3", "#bababa","#f0831d","#f8ac59"
*/
.svg-legend-color-0{
    fill: #5576a0;
}
.svg-legend-color-1{
    fill: #95d9f0;
}
.svg-legend-color-2{
    fill: #f17979;
}
.svg-legend-color-3{
    fill: #f8ac59;
}
.svg-legend-color-4{
    fill: #ffdf87;
}
.svg-legend-color-5{
    fill: #bababa;
}
.svg-legend-color-6{
    fill: #dedede;
}
.svg-legend-color-7{
    fill: #d3d3d3;
}
.svg-legend-color-8{
    fill: #bababa;
}
.svg-legend-color-9{
    fill: #f0831d;
}
.svg-legend-color-10{
    fill: #f8ac59;
}
.svg-legend-color-11{
    fill: #c6d3e3;
}
.svg-legend{
    float:left;
    width:20px;
    height:10px;
    text-align:center;
}

.svg-legend-style{
    stroke: black;
    width:10px;
    height:10px;
    display:block;
}
/***** Adjust ct-char graph percent ********/
span.ct-label.ct-horizontal.ct-end{
    margin-left:-10px;
}
/******* Leves *********/
.ct-chart-bar .ct-series-a .ct-bar:nth-of-type(4n+1) {
  stroke: #5576a0;
}
.ct-chart-bar .ct-series-b .ct-bar:nth-of-type(4n+1) {
  stroke: #95d9f0;
}
.ct-chart-bar .ct-series-c .ct-bar:nth-of-type(4n+1) {
  stroke: #f17979;
}
.ct-chart-bar .ct-series-d .ct-bar:nth-of-type(4n+1) {
  stroke: #f8ac59;
}
.ct-chart-bar .ct-series-e .ct-bar:nth-of-type(4n+1) {
  stroke: #ffdf87;
}
.ct-chart-bar .ct-series-f .ct-bar:nth-of-type(4n+1) {
  stroke: #bababa;
}
.ct-chart-bar .ct-series-g .ct-bar:nth-of-type(4n+1) {
  stroke: #dedede;
}
/******* Medios *********/
.ct-chart-bar .ct-series-a .ct-bar:nth-of-type(4n+2) {
  stroke: #5576a0;
}
.ct-chart-bar .ct-series-b .ct-bar:nth-of-type(4n+2) {
  stroke: #95d9f0;
}
.ct-chart-bar .ct-series-c .ct-bar:nth-of-type(4n+2) {
  stroke: #f17979;
}
.ct-chart-bar .ct-series-d .ct-bar:nth-of-type(4n+2) {
  stroke: #f8ac59;
}
.ct-chart-bar .ct-series-e .ct-bar:nth-of-type(4n+2) {
  stroke: #ffdf87;
}
.ct-chart-bar .ct-series-f .ct-bar:nth-of-type(4n+2) {
  stroke: #bababa;
}
.ct-chart-bar .ct-series-g .ct-bar:nth-of-type(4n+2) {
  stroke: #dedede;
}
/******* Semipesados *********/
.ct-chart-bar .ct-series-a .ct-bar:nth-of-type(4n+3) {
  stroke: #5576a0;
}
.ct-chart-bar .ct-series-b .ct-bar:nth-of-type(4n+3) {
  stroke: #95d9f0;
}
.ct-chart-bar .ct-series-c .ct-bar:nth-of-type(4n+3) {
  stroke: #f17979;
}
.ct-chart-bar .ct-series-d .ct-bar:nth-of-type(4n+3) {
  stroke: #f8ac59;
}
.ct-chart-bar .ct-series-e .ct-bar:nth-of-type(4n+3) {
  stroke: #ffdf87;
}
.ct-chart-bar .ct-series-f .ct-bar:nth-of-type(4n+3) {
  stroke: #bababa;
}
.ct-chart-bar .ct-series-g .ct-bar:nth-of-type(4n+3) {
  stroke: #dedede;
}
/******* Extrapesados *********/
.ct-chart-bar .ct-series-a .ct-bar:nth-of-type(4n+4) {
  stroke: #5576a0;
}
.ct-chart-bar .ct-series-b .ct-bar:nth-of-type(4n+4) {
  stroke: #95d9f0;
}
.ct-chart-bar .ct-series-c .ct-bar:nth-of-type(4n+4) {
  stroke: #f17979;
}
.ct-chart-bar .ct-series-d .ct-bar:nth-of-type(4n+4) {
  stroke: #f8ac59; /*#f0831d;*/
}
.ct-chart-bar .ct-series-e .ct-bar:nth-of-type(4n+4) {
  stroke: #ffdf87;
}
.ct-chart-bar .ct-series-f .ct-bar:nth-of-type(4n+4) {
  stroke: #bababa;
}
.ct-chart-bar .ct-series-g .ct-bar:nth-of-type(4n+4) {
  stroke: #dedede;
}
/**** Spinner *****/
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.over-blue{
    background-color: transparent;
    padding: 5px 0 0 0;
    margin: 5px 0 0 0;
}
.over-blue:hover{
    background-color: #95d9f0;
    padding: 5px 0 0 0;
    margin: 5px 0 0 0;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}